.container00 {
  &.container08 {
    background-image: url(../../images/humanFlight/01.jpg);
  }
  &.container09 {
    background-image: url(../../images/humanFlight/02.jpg);
  }
  &.container10 {
    background-image: url(../../images/humanFlight/03.jpg);
  }
  &.container11 {
    background-image: url(../../images/humanFlight/04.jpg);
  }
  &.container12 {
    background-image: url(../../images/humanFlight/05.jpg);
  }
}

.navbar {
  background-color: rgb(0, 0, 0, 0.7);
  padding: 10px;
}
.container01Content {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  margin-top: 2rem;

  .titleHuman {
    font-size: 80px;
  }

  .subTitleHuman {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 30px;
  }
}

.earthDesc {
  background-color: black;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .textDescEarth {
    color: $table-item;
    font-weight: 400;
    font-size: 20px;
    width: 88%;
  }
}

.containerRightContent {
  margin-left: 55%;
  padding-top: 11rem;
  background-color: rgb(0, 0, 0, 0.4);
  padding-bottom: 11rem;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 11rem;
}
.titleSection {
  font-size: 50px;
  font-weight: bold;
}

.subTitleSection {
  font-weight: 300px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .container01Content {
    .titleHuman {
      font-size: 70px;
    }

    .subTitleHuman {
      margin-top: 20px;
      margin-bottom: 50px;
      font-size: 20px;
    }
  }
  .earthDesc {
    background-color: black;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .textDescEarth {
      color: $table-item;
      font-weight: 400;
      font-size: 20px;
      width: 88%;
    }
  }

  .earthDesc {
    .textDescEarth {
      color: $table-item;
      font-weight: 400;
      font-size: 18px;
      width: auto;
      margin: 7px;
    }
  }
}

@media (max-width: 610px) {
  .container01Content {
    .titleHuman {
      font-size: 50px;
    }

    .subTitleHuman {
      font-size: 20px;
    }
  }

  .containerRightContent {
    margin-left: 5%;
  }

  .containerLeftContent {
    margin-left: 5%;
  }

  .titleSection {
    font-size: 40px;
  }

  .subTitleSection {
    font-weight: 300px;
    margin-bottom: 40px;
  }
}

@media (max-width: 380px) {
  .container01Content {
    .titleHuman {
      font-size: 40px;
    }

    .subTitleHuman {
      font-size: 18px;
    }
  }
}
